*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif,cursive;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.App{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  border: 4px solid red;
  width: 70vw;
  margin: auto;
  margin-top: 15vh;
}
.marks{
  color: grey;
}

body{
  background-color:  rgb(84, 182, 150);
  /* background-color: rgb(235, 169, 169); */
}
.container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 60vh;
  width: 50vw;
 
  margin: 23vh auto;
  background-color: rgb(79, 198, 158);
  border-radius: 20px;
  padding: 0;

}
.container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin: 23vh auto;
  /* align-items: center; */
  
  width: 40vw;
  padding: 10em;
  background-color: rgb(236, 185, 140);
  height: 600px;
  font-size: xx-large;
  border-radius: 20px;
  place-items: center;
  border: 2px solid linen;
  /* overflow:auto; */
  
}
.innercontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  flex-direction: column;
  width: 50vw;
}
.head2{
  display: inline-block;
  /* border: 2px solid red; */
  margin: auto;
  align-self: center;
  align-content: center;
  width: 29vw;
}